[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
psycopg2 = "*"
mtcnn = "*"
pillow = "*"
opencv-python = "*"
tensorflow = "*"
numpy = "*"
django-cors-headers = "*"
cmake = "*"
dlib = "*"
face-recognition = "*"
deepface = "*"
pandas = "*"
tzdata = "*"
imagehash = "*"
djangorestframework = "*"
django-redis = "*"

[dev-packages]

[requires]
python_version = "3"
